body {
  cursor: url('../public/outline-cursor.cur'),auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background-color: #F4F1E1;
}

.landing-header, .main-block, .social-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2.5vw;
}

.main-block {
  height: 100%;
}

.content, .profile-photo {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
}

.name {
  font-size: 5vw;
}

.title {
  font-size: 3vw;
}

.name, .title {
  text-wrap: wrap;
}

.link-icons {
  margin: 3% 3% 3% 0;
  width: 10%;
}

.link-icons:hover {
  cursor: url('../public/hand\ cursor\ 2.cur'), auto;
}

.header-icons {
  cursor: url('../public/hand\ cursor\ 2.cur'), auto;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 250ms;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}

.header-icons:hover {
  text-decoration: underline;
  text-decoration-color: black;
  -webkit-text-decoration-color: black;
  -moz-text-decoration-color: black;
}

@media (max-width: 600px) {
  .header-icons {
    padding: 5%;
  }
  .content, .profile-photo {
    margin: 4%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .header-icons {
    padding: 4%;
  }
  .content, .profile-photo {
    margin: 3%;
  }
}

@media (min-width: 901px) {
  .header-icons {
    padding: 3%;
  }
  .content, .profile-photo {
    margin: 2.5%;
  }
}