body {
  cursor: url('../public/LKad-12_arrow.cur'),auto;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url('../public/hand\ cursor\ 2.cur'), auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  min-width: 320px;
  background-color: black;
  color: white;
  overflow: scroll;
}

.landing-header, .social-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@keyframes custom-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-block {
  display: flex;
  height: 80vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  animation-name: custom-fadein;
  animation-duration: 2s;
}

.accordions {
  list-style-type: none;
  margin: 0.25rem;
}

.homepage-intro {
  display: flex;
  flex-direction: column;
  text-justify: inter-word;
}

.tech-skills-homepage {
  margin: 0;
}

.skill-lists {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}

.content, .profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content {
  width: 80%;
  height: 90%;
}

.profile-photo {
  width: 40%;
}

.profile-photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  list-style: none;
  padding-inline-start: 0;
  transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact-me li {
  position: relative;
}

.contact-me li::before,
.contact-me li::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.profile-photo {
  border-radius: 50%;
}

.tech-logos-homepage {
  width: 20px;
  height: 20px;
}

.link-icons {
  width: 4rem;
  margin: 0.3rem;
  max-width: 50px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link-icons.github {
  margin-left: 0;
}

/* @keyframes glow {
  from {
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue;
  }

  to {
    text-shadow: 0 0 100px blue, 0 0 130px blue;
  }
} */

.header-icons {
  cursor: url('../public/hand\ cursor\ 2.cur'), auto;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 250ms;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}

.header-icons.selected {
  text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(8 25 195),
    0 0 21px rgb(8 25 195),
    0 0 20px rgb(8 25 195),
    0 0 20px rgb(8 25 195),
    0 0 20px rgb(8 25 195),
    0 0 20px rgb(8 25 195),
    0 0 20px rgb(8 25 195);
}

@media (max-width: 600px) {
  body {
    letter-spacing: 0.5px;
  }
  .header-icons {
    padding: 5%;
  }
  .landing-header,
  .contact-me, .profile-photo-block-mobile {
    font-size: 0.85rem;
  }
  .main-block {
    justify-content: center;
    height: 85%;
    align-items: flex-start;
  }
  .content, .profile-photo {
    margin: 4%;
  }
  .homepage-intro {
    justify-content: center;
    align-items: center;
  }
  .homepage-intro-content {
    text-align: center;
  }
  .homepage-intro-content.hidden {
    display: none;
  }
  .homepage-intro-content > p {
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: 0rem;
  }
  .accordion-text {
    font-size: 0.75rem;
    letter-spacing: 0rem;
  }
  .profile-photo {
    width: 40%;
  }
  .profile-photo-block, .mobile-view-resume {
    display: none;
  }
  .profile-photo-block-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 85%;
  }
  .contact-me {
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 65%);
    width: 40%;
  }
  .contact-me li {
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 950px) {
  body {
    letter-spacing: 1px;
  }
  .header-icons {
    padding: 4%;
  }
  .landing-header,
  .contact-me {
    font-size: 1.2rem;
  }
  .content, .profile-photo {
    margin: 3%;
  }
  .main-block {
    justify-content: center;
    text-align: center;
    height: 85%;
  }
  .homepage-intro {
    justify-content: center;
    align-items: center;
  }
  .homepage-intro-content>p {
    font-size: 0.85rem;
    letter-spacing: 0rem;
  }
  .homepage-intro-content.hidden {
    display: none;
  }
  .profile-photo {
    width: 40%;
  }
  .profile-photo-block,
  .mobile-view-resume {
    display: none;
  }

  .profile-photo-block-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 85%;
  }
  .contact-me {
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 65%);
  }
  .contact-me li {
    padding: 15px
  }
}

@media (min-width: 951px) and (max-width: 1200px) {
  body {
    letter-spacing: 1.5px;
  }
  .header-icons {
    padding: 3%;
  }
  .landing-header,
  .contact-me {
    font-size: 1.2rem;
  }
  .content,
  .profile-photo {
    margin: 2.5%;
  }
  .homepage-intro-content>p {
    margin: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  .homepage-intro-content.hidden {
    display: none;
  }
  .profile-photo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-photo-block-mobile {
    display: none;
  }
  .intro-contact {
    display: none;
  }
  .contact-me {
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 65%);
  }
  .contact-me li {
    padding: 15px;
  }
}

@media (min-width: 1201px) {
  body {
    letter-spacing: 1.5px;
  }
  .header-icons {
    padding: 3%;
  }
  .header-icons:hover {
    text-decoration: underline;
    text-decoration-color: white;
    -webkit-text-decoration-color: white;
    -moz-text-decoration-color: white;
  }
  .landing-header, .contact-me {
    font-size: 1.2rem;
  }
  .content, .profile-photo {
    margin: 2.5%;
  }
  .profile-photo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .profile-photo-block-mobile {
    display: none;
  }

  .link-icons {
    opacity: 0.75;
  }

  /* Socials icons animations start */
  .link-icons:hover {
    transform: scale(1.2);
    opacity: 1;
    cursor: url('../public/hand\ cursor\ 2.cur'), auto;
  }
  /* Social icons animations end */

  .intro-contact {
    display: none;
  }
  .contact-me {
    opacity: 0.8;
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 55%);
  }

  .contact-me:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 78%);
  }
  
  /* contact me animations start */
  .contact-me li::before,
  .contact-me li::after {
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    bottom: 0%;
    right: 0%;
  }

  .contact-me li::before {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  .contact-me li::after {
    border-top-width: 1px;
    border-right-width: 1px;
  }

  .contact-me li:hover {
    cursor: url('../public/hand\ cursor\ 2.cur'), auto;
  }

  .contact-me li:hover::before,
  .contact-me li:hover::after {
    border-color: grey;
    transition: border-color 0s, width 0.3s, height 0.3s;
    width: 100%;
    height: 100%;
  }

  .contact-me li:hover::before {
    transition-delay: 0s, 0s, 0.3s;
  }

  .contact-me li:hover::after {
    transition-delay: 0s, 0.3s, 0s;
  }
  /* contact me animation ends */
  .contact-me li {
    padding: 20px;
  }
}