body {
  cursor: url('../public/outline-cursor.cur'),auto;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
}

.name, .title {
  font-weight: 200;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  background-color: #F4F1E1;
}

.landing-header, .social-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2.5vw;
}

.main-block {
  display: flex;
  height: 70%;
  width: 90%;
}

.content, .profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  width: 30%;
}

.profile-photo {
  width: 50%;
}

.profile-photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  border-radius: 50%;
}

.name, .title {
  text-wrap: wrap;
}

.link-icons {
  margin: 3% 3% 3% 0;
  width: 10%;
}

.link-icons:hover {
  cursor: url('../public/hand\ cursor\ 2.cur'), auto;
}

.header-icons {
  cursor: url('../public/hand\ cursor\ 2.cur'), auto;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 250ms;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}

.header-icons:hover {
  text-decoration: underline;
  text-decoration-color: black;
  -webkit-text-decoration-color: black;
  -moz-text-decoration-color: black;
}

@media (max-width: 600px) {
  .header-icons {
    padding: 5%;
  }
  .main-block {
    justify-content: center;
    text-align: center;
    height: 85%;
  }
  .content, .profile-photo {
    margin: 4%;
  }
  .profile-photo {
    width: 80%;
  }
  .profile-photo-block {
    display: none;
  }
  .profile-photo-block-mobile {
    display: flex;
    justify-content: center;
  }
  .content {
    width: 85%;
  }
  .name {
    font-size: 50px;
  }
  .title {
    font-size: 30px;
  }
}

@media (min-width: 601px) and (max-width: 1100px) {
  .header-icons {
    padding: 4%;
  }
  .content, .profile-photo {
    margin: 3%;
  }
  .main-block {
    justify-content: center;
    text-align: center;
    height: 85%;
  }

  .profile-photo {
    width: 80%;
  }

  .profile-photo-block {
    display: none;
  }

  .profile-photo-block-mobile {
    display: flex;
    justify-content: center;
  }

  .content {
    width: 85%;
  }

  .name {
    font-size: 60px;
  }
  .title {
    font-size: 40px;
  }
}

@media (min-width: 1101px) {
  .header-icons {
    padding: 3%;
  }
  .content, .profile-photo {
    margin: 2.5%;
  }
  .profile-photo-block {
    display: flex;
  }

  .profile-photo-block-mobile {
    display: none;
  }
  .name {
    font-size: 80px;
  }
  .title {
    font-size: 50px;
  }
}