.project-list {
    display: flex;
    flex: 1;
    height: 80%;
    width: 80%;
    min-width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-search-field {
    width: 30%;
    background-color: black;
    padding: 10px;
    color: white;
    border: 1px solid grey;
    outline: 0px;
    border-radius: 20px;
    font-size: 0.7rem;
}

.language-filters {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.each-language-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: url('../public/LKad-12_arrow.cur'), auto;
}

.each-language-filter.selected-language {
    background-color: grey;
}

.project-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid grey;
    margin: 2vw;
    border-radius: 10px;
    transition: 0.15s all ease;
    padding: 20px;
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 40%);
}

.project-card-content {
    display: flex;
    width: calc(100% - 10px);
    justify-content: space-between;
    overflow: hidden;
}

.projectName-and-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.project-logos {
    width: 40px;
    height: 40px;
}

.desc-date-container {
    border-top: 0.2px solid grey;
    border-bottom: 0.2px solid grey;
}

.project-dates {
    border: 0.2px solid grey;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

.project-date-container {
    align-items: center;
}

.tech-used {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;
}

.tech-logos {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 5px;
    margin: 3px;
    position: relative;
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 0 15px 4px rgb(8 25 195 / 40%);
}

.Tooltip {
    background-color: black;
    color: white;
}

@media (max-width: 350px) {
    .tech-logos {
        opacity: 1;
    }
    .project-card {
        min-width: 240px;
        max-width: 240px;
        min-height: 450px;
        max-height: 50%;
    }
    .project-search-field {
        caret-color: transparent;
    }
    .each-language-filter {
        margin: 0.5rem;
    }
}

@media (min-width: 351px) and (max-width: 1050px) {
    .tech-logos {
        opacity: 1;
    }
    .project-card {
        min-width: 240px;
        max-width: 300px;
        min-height: 450px;
        max-height: 50%;
    }
    .project-search-field {
        caret-color: transparent;
    }
    .each-language-filter {
        margin: 0.5rem;
    }
}

@media (min-width: 1051px) {
    .tech-logos{
        opacity: 0.7;
    }
    .tech-logos:hover, .project-link:hover,
    .github-logos:hover {
        opacity: 1;
    }
    .project-card:hover {
        cursor: url('../public/hand\ cursor\ 2.cur'), auto;
        transform: scale(1.1);
    }
    .project-link, .github-logos {
        opacity: 0.6;
    }
    .tech-logos:hover {
        transform: scale(1.2);
    }
    .project-card {
        min-width: 240px;
        max-width: 350px;
        min-height: 450px;
        max-height: 50%;
    }
    .each-language-filter {
        margin: 1rem;
    }
    .each-language-filter:hover {
        cursor: url('../public/hand\ cursor\ 2.cur'), auto;
        background-color: grey;
    }
}